body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.container {
  background: #283F3B;
  max-width: 50%;
  margin: 2em auto;
  padding: 2em;
}

.title {
  color: #95BF74;
  text-align: center;
  margin-top: 0;
}

input[type="text"] {
  display: block;
  padding: 5px;
  border-radius: 2px;
  border: none;
}

#invalidHex {
  display: inline;
  margin: 0;
  color: rgb(255, 35, 35);
  font-size: 12px;
  margin-bottom: 1em;
}

#sliderText {
  display: block;

}
.slider {
  display: block;
}

p {
  margin-bottom: 0;
}

.box {
  width: 100%;
  height: 60px;
  background: #659B5E;
}

.toggle {
  display: flex;
  align-items: center;
}

.toggle-text {
  margin-top: 0;
}

.toggle-btn {
  width: 60px;
  height: 30px;
  border-radius: 30px;
  margin: 15px 10px;
  padding: 5px;
  background: gray;
}

.inner-circle {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  transition: all 250ms;
}

.toggle-btn.toggled > .inner-circle {
  transform: translateX(30px);
  background: #333;
}

.unselected {
  opacity: .40;
}
